<!-- header -->
<header>
  <div class="wrapper">
    <div class="header-inner">
      <h1>
        <a class="header-logo" href="/">
          <img class="header-img" src="static/img/stopwatch.png" alt="logo" />
          <p class="header-title">5sec stopwatch</p>
        </a>
      </h1>

      <div class="dropdown">
        <button id="user-name" class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user_name }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Settings</button>
        </div>
      </div>

    </div>
  </div>
</header>
<!-- /header -->