<!-- header -->
<header>
  <div class="wrapper">
    <div class="header-inner">
      <h1 class="header-logo">
        <img class="header-img" src="static/img/stopwatch.png" alt="logo" />
        <p class="header-title">5sec stopwatch</p>
      </h1>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user_name }}
        </button>
        <div class="dropdown-menu .bg-dark" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Settings</button>
        </div>
      </div>

    </div>
  </div>
</header>
<!-- /header -->