{% extends "layout.html" %}
{% include "header.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="timer-box col-6">
      <div id="countdown" class="show"></div>
      <div id="timer" class="show">05:00</div>
    </div>
  </div>
  <div class="row justify-content-center play-btn-box">
    <div class="col-4">
      <a href="/play">
        <button id="action" type="button" class="btn btn-lg btn-light btn-block">Play</button>
      </a>
    </div>
  </div>
</div><!-- /container -->

{% endblock content %}
