{% extends "layout.html" %}
{% include "header.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="timer-box col-10">
      <div id="timer" class="show"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <button id="stop" type="button" class="btn btn-danger btn-lg btn-block">Stop</button>
    </div>
  </div><!-- /row -->
</div><!-- /container -->

<script src="/static/js/timer.js"></script>

{% endblock content %}
